<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <body dir="ltr" class="{{ with .Params.bodyClass }}{{ . }}{{ end }}">
    <div id="sticky-header">
     
    {{- partial "navbar.html" . -}}
    </div>
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
  </body>
  {{ partial "scripts.html" . }}
</html>

<style>

  #sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
</style>